<%- include('header'); -%>
<div class="login">
	<div class="lower">
		<div class="box" id="box1">
			<h4>Hey</h4>
			<br />
			<% if (locals.data) { %>
			<h1><%= data.fname %> 😖</h1>
			<% } %>
		</div>
		<div class="box" id="box2">
			<div class="upper">
				<form action="/" method="post">
					<input
						type="text"
						id="fname"
						name="fname"
						placeholder="Enter Your First Name"
					/><br />
					<input
						type="text"
						id="location"
						name="city"
						placeholder="Enter Your City"
					/>
					<br />
					<!-- <input type="button" value="Submit" /> -->
					<button value="Submit">Submit</button>
				</form>
			</div>
		</div>
		<div class="box" id="box3">
			<h1 id="time">08:28 PM</h1>
			<h1 id="date"></h1>
		</div>
		<div class="box" id="box4">
			<% if (locals.data) { %>
			<div class="part" id="part1">
				<div class="icon">
					<i class="wi <%= data.classname %>" id="icons"></i>
					<h1><%= data.weathermood %></h1>
				</div>
			</div>
			<div class="part" id="part2">
				<div class="two-sided-section" id="places">
					<div class="place">
						<p><%= data.name %>, <%= data.country %></p>
					</div>
					<div class="temperature">
						<h1><%= data.temp %>&deg;</h1>
					</div>
				</div>
				<div class="two-sided-section">
					<p>
						<i class="wi wi-sunset"></i>
					</p>
					<p class="extra-info-leftside">
						<%=data.timeStr%> PM <br />
						Sunset
					</p>
				</div>
			</div>
			<div class="part" id="part3">
				<div class="two-sided-section">
					<h1>
						<i class="wi wi-humidity"></i>
					</h1>
					<p class="extra-info-leftside">
						<%= data.humidity %> <br />
						Humidity
					</p>
				</div>
				<div class="two-sided-section">
					<h1>
						<i class="wi wi-strong-wind"></i>
					</h1>
					<p class="extra-info-leftside">
						<%= data.speed %> <br />
						Wind
					</p>
				</div>
				<div class="two-sided-section">
					<h1>
						<i class="wi wi-rain"></i>
					</h1>
					<p class="extra-info-leftside">
						<%=data.pressure %><br />
						Prerssure
					</p>
				</div>
			</div>
			<% } %>
		</div>
	</div>
</div>

<script>
	function updateTime() {
		let date = new Date();

		let day = date.getDate();
		let month = date.toLocaleString("default", { month: "short" });
		let year = date.getFullYear();

		let suffix;
		if (day > 3 && day < 21) suffix = "th";
		else
			suffix = ["th", "st", "nd", "rd", "th", "th", "th", "th", "th", "th"][
				day % 10
			];

		let formattedDate = day + suffix + " " + month + " " + year;

		document.getElementById("date").innerHTML = formattedDate;

		let hours = String(date.getHours()).padStart(2, "0");
		let minutes = String(date.getMinutes()).padStart(2, "0");
		let seconds = String(date.getSeconds()).padStart(2, "0");
		let ampm = hours >= 12 ? "PM" : "AM";
		hours = hours % 12;
		hours = hours ? hours : 12; // the hour '0' should be '12'
		let formattedTime = hours + ":" + minutes + ":" + seconds + " " + ampm;
		document.getElementById("time").innerHTML = formattedTime;
	}

	setInterval(updateTime, 1000);
	console.log(classname);
</script>
<%- include('footer'); -%>
